form{
    /*centralizar o form na página*/
    margin: 0 auto;
    width: 400px;
    /*Para ver as bordas do form*/
    padding: 10px;
    border: 10px solid #ffe4c4;
    border-radius: 10px;
}

/*Adicionar espaço entre cada conjunto de campos do form*/

form div + div{
    margin-top: 10px;
}
label{
    /*labels tem o mesmo tamanho e estão propriamente alinhadas*/
    display: inline-block;
    width: 90px;
    text-align: right;
}

ssinput, textarea {
    /*Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. /
    font: 20px sans-serif;

    /*Para dar o mesmo tamanho a todos os campos de texto*/
    width: 30px;
    -moz-box-sizing: border-box;/*first*/
    box-sizing: border-box;/*second*/

    /*Para harmonizar o look & feel dos cantos das bordas nos campos de texto*/
    border: 1px solid #ffefd5;
}